{
  "extends": [
    "airbnb-typescript-prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": [ 
      "error",
      {
        "components": [ "Link" ],
        "specialLink": [ "hrefLeft", "hrefRight" ],
        "aspects": [ "noHref", "invalidHref", "preferButton" ]
      }
    ],
    "semi": [2, "never"],
    "max-len": ["error", { "code": 140, "ignoreUrls": true }],
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [{ "char": ">", "alternatives": ["&gt;"] }, { "char": "}", "alternatives": ["&#125;"] }]
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
